/* Body */
body{
  background-color: #f3f3f3;
  min-height: 100vh;
  position: relative;
}

/* Navbar*/
#navbarNavAltMarkup {
  font-family: 'Roboto Condensed',
  sans-serif;
  margin-right: 20px;;
  font-weight: bold;
  font-size: 20px;
  position: static;
}
#iconlog{
  font-family: 'Roboto Condensed',
  sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.navbar {
  background-color: #7ADFA9;
  position: static;
}

/* Dark Overlay Gambar */
#gambar {
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)), url("../images/pharmacy 1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 300px;
  width: 100%;
}

h1, h4, h2{
  /* cadangan
  font-family: 'Source Sans Pro',sans-serif;
  */

  font-family: 'Roboto Condensed',
  sans-serif;
}

.card{
  background-color: #a9def9;
}


/* Footer */

#footer{
  background-color: #666666;
  height: 50px;
  position: absolute;
  bottom: 0;
}


/* Cards */

.col-sm-3 {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

@media screen and (max-width: 600px) {
  .col-sm-3 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Card Jasa */

#jasa{
  transition: all 0.2s ease;
  cursor: pointer;
}

#jasa:hover{
  box-shadow: #666666 0px 5px 15px;
  transform: scale(1.05);
}

/* Jasa */

#gambarJasa {
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)), url("../images/gambarJasa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 150px;
  width: 100%;
}

/* Why Choose Us */

#WhyChoose{
  display: flex;
  align-items: center;
  justify-content: center;
}

#WhyChoose > div{
  flex-basis: 50%;
}

.text-col{
  margin-left: 50px;
}

#WhyChooseBG{
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)), url("../images/WhyChooseBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  min-height: 625px;  
  width: 100%;
  padding-top: 50px;
}

#containerWhyChoose{
  text-align: center;
}


/* Table */

table.table-bordered {
  border: 1px solid black !important;
}

table.table-bordered>thead>tr>th {
  border: 1px solid black !important;
}

table.table-bordered>tbody>tr>td {
  border: 1px solid black !important;
}

.table>thead>tr>th{
  background-color: #069A8E;
  color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #34b6a0;
  color: white;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #26a892;
  color: white;
}


/* accordion */

#accordion {
  border: none;
}

#headingAccordion a:hover {
  border-color: black;
}

#accordionHead {
  color: black;
  background-color: #e4e4e4;
  width: 30%;
}

#heading {
  background-color: #069A8E;
}

/* button 3d */
.btn3d {
  transition:all .08s linear;
  position:relative;
  outline:medium none;
  border:0px;
  margin-right:10px;
  margin-top:15px;
}
.btn3d:focus {
  outline:medium none;
  
}
.btn3d:active {
  top:9px;
}
.btn3d.btn-default {
	color: #666666;
	box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.10) inset, 0 8px 0 0 #BEBEBE, 0 8px 8px 1px rgba(0, 0, 0, .2);
	background-color: #f9f9f9;
}
.btn3d.btn-default:active,
.btn3d.btn-default.active {
	color: #666666;
	box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, .1);
	background-color: #f9f9f9;
}
.btn3d.btn-explore {
	box-shadow: 0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #78d739;
}

.btn3d.btn-explore:active,
.btn3d.btn-explore.active {
	box-shadow: 0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #78d739;
}

